.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:2rem;
    padding: 2rem;
    background:var(--bg-color-light);
    margin: 1rem;
    border-radius: 2rem;
}
.contact .contact-icones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    background:var(--bg-color);
    padding: 1rem;
    border-radius: 2rem;
}
.contact-icones-item{
    border-radius: 2rem;
    background:var(--bg-color-light);
    padding: 2rem;
    transition: var(--transition);
    text-align: center;
}
.contact-icones-item svg{
    font-size: 4rem;    
}
.contact-icones-item p{
    font-size: .7rem;    
}
.contact-icones-item:hover{    
    background:#FFF;
    color:var(--bg-color);
    border:1px solid var(--border-color)
}
.contact form{
    background:var(--bg-color); 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap:1rem;
    border-radius: 2rem;
    padding:0 2rem ;
    color:var(--color-white);
}
.contact form div{    
    background:var(--color-white);
}

/*=======================MEADIA QUERIES================*/
@media screen and (max-width:600px){

    .contact{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact .contact-icones{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact-icones-item svg{
        font-size: 4rem;    
    }
    .contact-icones-item p{
        font-size: .7rem;    
    }
    
    .contact form{
        padding:1rem 1rem ;
    }
        
}