header{
    padding: 2rem;    
    text-align: center;
}

header > h3{
    color:var(--color-white);
    letter-spacing: 1.5rem;
    font-size: 1.75rem;
    margin-top:2rem;
    margin-bottom:1rem;    
    text-transform: uppercase;
}

header > h5{
    color:var(--color-white-light);
    letter-spacing: 1.1rem;    
    margin-bottom:1rem;    
}
header .avatar{
    position: relative;
    transition:var(--transition);
}
header img{
    top: 0;
    border: 5px solid var(--bg-color-light);
    border-radius: 50%;
    width: 15rem;
    backface-visibility: hidden;    

}
header .avatar:hover{
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
header .avatar .back{
    position:absolute;
    top: 0;
    border: 5px solid var(--bg-color-light);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    left:50%;
    transform: translateX(-50%) rotateY(180deg);;
    background: teal;
    color:var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
/*/===============MEDIA QUERIES===============*/

@media screen and (max-width:600px){
    header > h3{        
        letter-spacing: 1.4rem;
        font-size: 1.2rem;        
    }
    
    header > h5{        
        letter-spacing: 1rem;    
        font-size:.8rem;    
    }
    header img{        
        width: 12rem;
    }   
    header .avatar .back{
        width: 12rem;
        height: 12rem;
    }
}